:root {
  --primary: #448983;
  --secondary: hwb(162 53% 42%);
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #4B4B4D;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --pagebg:hwb(162 53% 42% / 0.781);
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
  background-image: url('/images/hiking_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 20px;
  text-align: center;
  /* background: var(--primary); */
  color: var(--light);
}
header img{
  width: 10rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}


nav {
  margin: 20px 0;
}

nav a {
  color: var(--dark);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
}

nav a:hover {
  color: var(--secondary);
  padding: 14px 20px;
  /* background-color: var(--dark); */
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}
.login-section{
  width: 90%;
}

.login-card {
  width: 45%;
  padding: 5px;
  border-radius: var(--border-radius);
  background-color: var(--pagebg);
  color: var(--light);
}


/* LAYOUT */
.container {
  padding-top: 50px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.homepage-img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.add-btn{
  top: 5%;
  right: 5%;
}

.blog-section{
  background-color: var(--pagebg);
  margin-top: 50px;
  color: var(--dark);
}

.blog-section a{
  color: var(--dark);
}
.blog-section a:hover{
  color: var(--light);
}

.main-img h1{
  color: var(--dark);
  font-size: 3.5rem;
}
.add-icon{
  width: 2rem;
}

.new-section{
  width: 100%;
  height: 100%;
  padding: 5rem;
  margin-top: 50px;
  color: var(--dark);
  background-color: var(--pagebg);
}
.article-section{
    width: 100%;
    height: 100%;
    padding: 5rem;
    margin-top: 50px;
    color: var(--dark);
    background-color: var(--pagebg);
}
.article-section img{
  width: 90%;
}

.article-section form {
  width: 100%;
}

.btn.btn-info{
  background-color: var(--tertiary);
  border: none;
}

.btn.btn-info:hover {
  background-color: var(--quatrinary);
}